@use "../../variables.scss" as *;

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1rem;
  display: flex;
  background-color: $component;
  gap: 0.7rem;
  border-radius: $radius;
  width: 100%;

  > h2 {
    color: $text;
  }

  .formContainer {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    width: 100%;

    input {
      all: unset;
      color: $second-bg;
      border: none;
      background-color: $color2;
      border-bottom: 1px solid $text;
      padding: 0.3rem 0.6rem;
      border-radius: $radius;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: textfield;

      &:focus {
        border: none;
      }
    }
  }
  button {
    all: unset;
    background: $color-bg;
    padding: 0.3rem 3rem;
    border-radius: $radius;
    cursor: pointer;
  }
}
