@use "../../variables.scss" as *;

.div {
  padding: 1rem;
  // height: 100%;

  h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  table {
    height: 100%;
    width: 100%;
    text-align: left;
    border-collapse: collapse;

    thead {
      tr {
        display: table-row;
        border-bottom: 1px solid $border;
        th {
          padding: 0.7rem 0;
          color: $text;
          font-size: 0.9rem;
        }
      }
    }

    tbody {
      td {
        padding: 0.5rem 0;
        font-weight: 500;
      }
    }
  }
}
